body{
    background-color: rgb(7, 6, 6);
}
body h1{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    background-color: #272524;

}
h1 {
    -webkit-text-stroke: 1px white; /* width and color */

    font-family: sans; color: yellow;
}h5 {
    -webkit-text-stroke: 1px white; /* width and color */

    font-family: sans; color: yellow;
}
.text-container h1{
    font-size: 250px;
    color: rgba(225, 225, 225, .1);
    background-image: url(images/download\ \(1\).jpg);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite;

}
@keyframes animate{
    0%{
        background-position: left 0px top 10px;
    }
    100%{
        background-position: left 800px top 10px;
    }

}
.text-container{
    
    text-align: center;
}

body h5{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    background-color: #272524;

}
.text-container h5{
    font-size: 250px;
    color: rgba(225, 225, 225, .1);
    background-image: url(images/download\ \(1\).jpg);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite;

}
